{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "printWidth": 80,
  "semi": true,
  "insertPragma": false,
  "proseWrap": "preserve",
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",
  "tabWidth": 2,
  "useTabs": false,
  "vueIndentScriptAndStyle": false,
  "requirePragma": false,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}